@media only screen and (max-width: 600px) {

	/* Header */

	header .header-logo {
		flex: 0 1 45%;
	}

	.header-btns .btn {
		font-size: 1.5rem;
	}

	a.icon.icon-facebook {
		font-size: 40px
	}

	.white-arrow {
		max-width: 6px !important;
	}
}